<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nongki's</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Unica+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
  </head>
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header class="hero">
      <nav class="nav">
        <div class="menu-hp">
          <div>
            <a href="/" class="logo-font">
              Nongki's
            </a>
          </div>
          <div class="menu-container">
            <button aria-label="button menu dropdown on mobile" class="menu" type="button">
              <span class="fa fa-caret-down"></span>
            </button>
          </div>
        </div>

        <ul class="nav-list">
          <li class="nav-item"><a href="#/home">Home</a></li>
          <li class="nav-item"><a href="#/favorite">FavoriTe</a></li>
          <li class="nav-item">
            <a href="https://github.com/firmanjabar" target="_blank" rel="noopener noreferrer">AbouT Us</a>
          </li>
          <li class="nav-item">
            <button
              tabindex="0"
              aria-label="button for toggle light or dark mode"
              type="button"
              id="dark-mode"
              class="light"
            >
              <i class="fas fa-moon"></i>
            </button>
          </li>
        </ul>
      </nav>

      <div class="hero__inner">
        <h1 class="hero__title">
          Good Food is A
          <span class="hero-bold">Good Mood.</span>
        </h1>
        <p class="hero__tagline">
          Food is the ingredient that bind us together! And nothing brings people together like a Good Food!
        </p>
        <a href="#main-content" class="btn">Let's Nongkrong!</a>
      </div>
    </header>

    <main id="main-content"></main>

    <footer>
      <ul>
        <li>
          Copyright © 2020 - Nongki's
        </li>
        <li>handcrafted with <i title="love" class="fa fa-heart"></i> by firmanjabar</li>
      </ul>
    </footer>
  </body>
</html>
