.grid-2 {
  display: grid;
  grid-gap: 1em;
}

.grid-3 {
  display: grid;
  grid-gap: 1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu {
    display: block;
    background-color: transparent;
    border: 1px solid transparent;
    text-align: center;
  }

  .menu-hp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .menu span {
    text-align: center;
  }
  nav {
    display: flex;
    flex-direction: column;
    padding: 3em 0;
    height: 175px;
    flex-wrap: wrap;
  }
  .nav-list {
    display: none;
  }

  .nav-list-block {
    display: flex;
  }

  .truncate2 {
    -webkit-line-clamp: 2;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #list-rest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.545em;
  }

  .box-ganjil {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .detail {
    grid-template-columns: 1.1fr 1fr;
    justify-content: center;
  }

  .detail h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
  }

  .detail-menu {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .detail-review {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
  }

  .title-review {
    grid-row-start: 4;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.245em;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.245em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #list-rest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 320px) {
  nav {
    padding: 1.5em 0.1em;
  }

  .nav-item a {
    font-size: 1.2em;
  }
}
